*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing:border-box;
}

body {
    background-color: #D4D4D4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

main {
    width: auto;
    margin: 10px 100px;
    padding: 10px;
    background: #F7F7F7;
    border: 1px solid #A0A0A0;
    box-shadow: 1px 1px 3px #CFCFCF, -1px 1px 3px #CFCFCF;
    border-radius: 8px;
}

header {
    background: #E2E2E2;
    box-shadow: 1px 0px 4px #333, -1px 0px 4px #333;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0px;
}

h1, h3 {
    padding: 10px;
    color: #555;
    text-shadow: 2px 2px 2px #FFF;
}

#hint {
    font-size: 12px;
    margin-top: 3px;
}

#message {
    margin: 10px 0px;
    color: red;
    font-size: 16px;
}

#content {
    margin-top: 10px;
    padding: 10px;
    box-shadow: 1px 0px 4px #333, -1px 0px 4px #333;
    border-radius: 5px 5px;
    background: #F7F7F7;
}
table {
    width: 100%;
    margin: 15px auto;
}

thead {
    font-weight: bold;
    background-color: #CACACA;
}

tbody tr:nth-child(even){
    background-color: #E6E6E6;
}

th {
    visibility: hidden;
    padding: 5px;
    text-align: center;
}

label{
    font-size: 12pt;
    font-weight: bold;
    padding-right: 5px;
    color: #555;
    text-shadow: 2px 2px 2px #FFF;
}

input[type=text]{
    padding: 5px 5px;
    border: 2px #000 solid;
    font-size: 15px;
    width: 300px;
    border-radius: 4px;
}

.button {
    padding: 5px 5px;
    border: 2px #000 solid;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #FFF;
    background: #E2E2E2;
    border-radius: 4px;
}

.button:hover {
    box-shadow: 2px 2px 1px #888;
    cursor: pointer;
    background-color: #FFFF5A;
}

#message {
    visibility: hidden;
}

#records {
    color: blue;
    font-weight: bold;
}